@import url('header.css');

.blue-bg {
    height: 15rem;
    box-shadow: var(--box-shadow-9);
    background-color: var(--dark-blue-1);
    position: relative;

    .blue-bg__animation-block {
        display: block;
        transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        overflow: hidden;
        height: 28rem;
        position: relative;
        pointer-events: none;

        .blue-bg__animation-block-img-1,
        .blue-bg__animation-block-img-2 {
            transition: transform 0.4s ease-out;
            transform-style: preserve-3d;
            display: block;
            background-position: 50%;
            background-size: cover;
            position: absolute !important;
            top: -5rem !important;
            right: -5rem !important;
            bottom: -5rem !important;
            left: -5rem !important;
        }

        .blue-bg__animation-block-img-1 {
            transform: translate3d(-0.5px, 23.8px, 0px);
            background-image: url(../img/pattern-layer-1.svg);
        }

        .blue-bg__animation-block-img-2 {
            transform: translate3d(-0.1px, 8.9px, 0px);
            backface-visibility: hidden;
            background-image: url(../img/pattern-layer-3.svg);
        }
    }

    .blue-bg__block {
        display: none;
    }

    .blue-bg__text {
        transition-duration: 1s;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        width: 83.333333%;
        transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);

        .blue-bg__contact {
            color: var(--white);
            font-size: 3.75rem;
            line-height: 1;
            font-weight: 600;
            display: flex;
            align-items: baseline;
            gap: 4px;

            .blue-bg__contact-circle {
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: var(--green-2);
            }
        }
    }
}

@media (min-width: 1280px) {
    .blue-bg {
        .blue-bg__animation-block {
            background-color: transparent;
        }
    }
}

@media (max-width: 1279.89px) {
    .blue-bg {
        .blue-bg__text .blue-bg__contact {
            font-size: 3rem;
        }
    }
}

@media (max-width: 767.89px) {
    .blue-bg {
        .blue-bg__animation-block {
            display: none;
        }

        .blue-bg__block {
            display: block;
            opacity: .5;
            background-position: 50%;
            background-size: cover;
            background-image: url(../img/pattern-full.svg);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

@media (max-width: 640px) {
    .blue-bg {
        .blue-bg__text .blue-bg__contact {
            font-size: 2.25rem;
            line-height: 2.5rem;

            .blue-bg__contact-circle {
                width: 6px;
                height: 6px;
            }
        }
    }
}