@import url('general.css');

header {
	box-shadow: var(--box-shadow-1);
	position: sticky;
	top: 0;
	width: 100%;
	padding-top: 28px;
	padding-bottom: 28px;
}

.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 52px;
}

.header__link {
	display: flex;
}

.navigation {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 36px;
}

.link {
	position: relative;
	color: var(--black);
	cursor: pointer;
	line-height: 1;
	text-decoration: none;
}

.link:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: var(--green-1);
	content: "";
	transition: width 0.3s ease-out;
}

.link:hover:after,
.link:focus:after {
	width: 100%;
}

.link {
	color: var(--black);
	transition: 0.4s;
}

.link:hover {
	color: var(--green-1);
}