:root {
    --black: #000000;
    --light-black: #464646;
    --white: #ffffff;
    --green-1: #00a650;
    --green-2: #00b559;
    --green-3: #00b300;
    --grey: #9f9f9f;
    --light-grey-1: #f5f5f5;
    --light-grey-2: #eeeeee;
    --dark-grey-1: #cccccc;
    --dark-grey-2: #666666;
    --dark-grey-3: #333333;
    --translucent-grey: rgba(0, 0, 0, 0.3);
    --dark-blue: #004596;

    --box-shadow-1: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    --box-shadow-2: 0 0 10px rgba(0, 0, 0, 0.1);
}