@import url('./general.css');

.search .conteiner {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 208px;
	padding-bottom: 12px;
}

.filed.search__filed {
	width: 100%;
	height: 42px;
	padding-left: 10px;
	border: 2px solid var(--green-1);
	border-radius: 5px;
	display: flex;
	align-items: center;
}

.filed.search__filed form {
	width: 100%;
	display: flex;
	align-items: center;
}

.filed.search__filed {
	background-color: var(--white);
	padding-top: 26px;
	padding-bottom: 26px;
}

.filed.search__filed input {
	flex-grow: 1;
}

.search {
	background: var(--light-grey-2);
}

.button__filed {
	width: 100px;
	height: 50px;
	border: none;
	background-image: url(../img/icons8-лупа.svg);
	background-size: 24%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--white);
	border-left: 2px solid var(--light-grey-2);
}

.search .text--black {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.search {
	padding-top: 12px;
}

.search__count {
	font-size: 16.8px;
	margin-left: 8px;
}

.vacancies .text--grey {
	display: flex;
	flex-direction: row;
}

.vacancies__count {
	font-size: 16px;
	color: var(--grey);
	display: flex;
	align-items: center;
	justify-content: center;
}

.vacancies .conteiner {
	padding-top: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 28px;
}

.vacancies {
	background-color: var(--light-grey-1);
}